gf:
  mode: develop

server:
  address: ":3290"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"
  dumpRouterMap: true
  routeOverWrite: true
  accessLogEnabled: true

project:
  sm4key: "abcdefghijklmnopqrstuvwxyz123456" #sm4 加密key, 需要保证 32 位
  language: "zh-CN"
  output: "./resource/file"
  upload: "./resource/file/upload"

logger:
  path: "resource/log/system/"
  prefix: ""
  file: "{Y-m-d}.log"
  level: "all"
  stdout: true

# Database.
database:
  logger:
    level: "all"
    stdout: true
    Path: "resource/log/sql"
  default:
    link: "mysql:root:123456@tcp(127.0.0.1:3306)/database?charset=utf8mb4&parseTime=true&loc=Local"
    debug: true
    charset: "utf8mb4" #数据库编码
    dryRun: false #空跑
    maxIdle: 10 #连接池最大闲置的连接数
    maxOpen: 10 #连接池最大打开的连接数
    maxLifetime: "30s" #(单位秒)连接对象可重复使用的时间长度
