
# CLI tool, only in development environment.
# https://goframe.org/pages/viewpage.action?pageId=3673173
gfcli:
  gen:
    dao:
      - link:            "mysql:root:123456@tcp(127.0.0.1:3306)/db_name"
        tables:          "push_channel" # table name or table name regex
        tablesEx:        "" # table name or table name regex
        removePrefix:    "" # table name or table name regex
        descriptionTag:  true
        noModelComment:  true
        path: "./internal/app/admin"
    service:
      srcFolder: "internal/app/common/logic"
      dstFolder:  "internal/app/common/service"
